@model VendasMVC.Models.ViewModels.VendedorFormViewModel

@{

    ViewData["Title"] = "Adicionar novo";

}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Vendedor.Nome" class="custom-control-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="custom-control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.DataAniversario" class="custom-control-label"></label>
                <input asp-for="Vendedor.DataAniversario" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.SalarioBase" class="custom-control-label"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.DepartamentoId" class="control-label"></label>
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Crear</button>
            </div>
        </form>
    </div>
</div>