@model VendasMVC.Models.ViewModels.VendedorFormViewModel

@{

    ViewData["Title"] = "Editar";

}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <input type="hidden" asp-for="Vendedor.Id" />
            <div class="form-group">
                <label asp-for="Vendedor.Nome" class="custom-control-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
                <span asp-validation-for="Vendedor.Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="custom-control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
                <span asp-validation-for="Vendedor.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.DataAniversario" class="custom-control-label"></label>
                <input asp-for="Vendedor.DataAniversario" class="form-control" />
                <span asp-validation-for="Vendedor.DataAniversario" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.SalarioBase" class="custom-control-label"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
                <span asp-validation-for="Vendedor.SalarioBase" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Vendedor.DepartamentoId" class="control-label"></label>
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Editar</button>
                <a asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}