@model VendasMVC.Models.Departamento

@{

    ViewData["Title"] = "Editar";

}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="custom-control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Editar</button>
                <a asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}